.strategie {
  color           : red;
  margin-left     : auto;
  margin-right    : auto;
  width           : 80%; /* largeur obligatoire pour être centré */
  font-family     : font72197;

    section {
      margin-top       : 20%;
      margin-bottom    : 20%;



            span.ico {
              margin           : 10px 10px 0 0;
              padding          : 5px 10px;
            }

            figure {

                svg {
                      width        : 50%;
                      margin       : 0 auto;
                }

                polygon.hex {
                  stroke-width     : 1;
                  fill             : #5a8fa6;
                }

                .hex.green {
                  fill : #98c67f;
                }

                .hex.pink {
                  fill : #f0847a;
                }

                .hex.yellow {
                  fill : #fcc04b;
                }

                figcaption {
                  margin-bottom: 20px;
                  font-size: 15px;
                  font-family: "Arial";
                  text-align: justify;
                  color: black;
                }

            }

    }
    .st0{
      fill             :none;
      stroke           :#5A8FA6;
      stroke-linecap   :round;
      stroke-linejoin  :round;
      stroke-miterlimit:10;
    }
    .st1{
      fill             :#5A8FA6;
    }

    .line {
      border-top        : 1px solid #5a8fa6;
      display           : block;
      margin-top        : 10%;
      margin-bottom     : 10%;
    }


    h1 {
      font-size         : 40px;
      color             : black;
    }


    h2 {
      font-size         : 18px;
      color             : black;
    }

    p {
      font-size         : 14px;
      font-family       : arial;
      color             : grey;
    }

    p.graph-data {
      font-weight       : bold;
      color             : black;
    }

    p.graph-date {
      color             : grey;
    }


}
