
body {
    font: Arial;
    margin:0;

    header {
        margin-left: 10px;
        margin-right: 10px;
        .burger {
            float:left;
            width: 25px;
            height: 25px;
        }
        .logo {
            margin-left: auto;
            margin-right: auto;
            width: 126px;
            height: 22px;
        }
        span {
            float:right;
            font-size: 1.5em;
            font-weight: bold;
        }
        text-align: center;
        height: 41px;
        display: flex;
        align-items: center;
    }

    main {
        .cls {
          fill: #292929;
          fill-opacity: 0.25;
          stroke: #fff;
          stroke-width: 2px;
          fill-rule: evenodd;

          }

          nav ul {
              position: absolute;
              a li {
                display: inline-block;
                list-style-type: none;
              }
          }
        background-image: url("../img/background_mobile.png");
        height: calc(100vh - 41px);
        background-size: cover;
    }


  .strategie {
    color: red;
    margin-left: auto;
    margin-right: auto;
    width: 80%; /* largeur obligatoire pour être centré */
    font-family: font72197;

      section {
        margin-top: 20%;
        margin-bottom: 20%;
      }
      .st0{
        fill:none;
        stroke:#5A8FA6;
        stroke-linecap:round;
        stroke-linejoin:round;
        stroke-miterlimit:10;
      }
      .st1{
        fill:#5A8FA6;
      }

      hr {
      color: #5a8fa6;
      }


      h1 {
        font-size: 40px;
        color: black;
      }

      h2 {
        font-size: 18px;
        color: white;

      }
      h3 {
        font-size: 18px;
        color: black;
      }

      p {
        font-size: 14px;
        font-family: arial;
        color: grey;
      }

      p.graph-data {
        font-weight: bold;
        color: black;
      }

      p.graph-date {
        color: grey;
      }


  }
}
